html {
  font-family: 'Encode Sans', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

h1 {
  font-weight: 400;

  /* Mess around with this to find a limit */
  font-size: min(5vw, 100px);

  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem 0 3rem;
}

footer {
  padding: 3rem;
  background-color: white;;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a:hover {
  /* add a cool hover effect! */
  text-decoration: underline;
  cursor: pointer;

}

a:visited {
  color: black;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
}

.leftSide {
  width: 50%;
  height: 100%;
  flex: 1;
}

.rightSide {
  background-color: white;
  width: 50%;
  height: 100%;
  flex: 1;
}

.socialLogo {
  height: 35px;
  width: 35px;
}

.icon {
  display: inline;
  width: 20px;
  height: 20px;
}

.iconText {
  display: inline;
  margin: 0 0.5rem 0 0;
}

.iconTextWrapper {
  display: flex;
  align-items: center;
}

.footerRowWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navLink {
  /* mess around with numbers for limits */
  font-size: min(max(1rem, 1.5vw), 2rem);
}

#designAndRepoWrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#socialLogosWrapper {
  margin: 1rem 0 1rem 0;
  display: flex;
  width: 5.5rem;
  justify-content: space-between;
}

#designWrapper {
  margin-bottom: 0.5rem;
}

#page1 {
  background-color: #50ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 {
  background-image: linear-gradient(#50ffff, #50ffff50);
}

#page3 {
  background-image: linear-gradient(#50ffff50, white);
}

#headerImage {
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

