html {
  font-family: 'Encode Sans', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  font-weight: 400;

  /* Mess around with this to find a limit */
  font-size: min(5vw, 72px);

  margin: 0;
}

h2 {
  font-weight: 700;
  /* Mess around with this to find a limit */
  font-size: min(4vw, 3rem);
  padding-left: 3vw;
}

h3 {
  font-weight: 700;
  /* Mess around with this to find a limit */
  font-size: min(3vw, 2rem);
  padding-left: 3vw;
  margin-top: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem 0 3rem;
}

footer {
  padding: 3rem;
  background-color: white;;
}

ul {
  padding-left: 5vw;
  padding-right: 3vw;
}

li {
  font-size: min(2vw, 1.25rem);
  margin-bottom: 1rem;
}

p {
  padding-left: 4vw;
  padding-right: 3vw;
  font-size: min(2vw, 1.25rem);
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a:hover {
  /* add a cool hover effect! */
  text-decoration: underline;
  cursor: pointer;

}

a:visited {
  color: black;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
}

.leftSide {
  width: 50%;
  height: 100%;
  flex: 1;
}

.rightSide {
  background-color: white;
  width: 50%;
  height: 100%;
  flex: 1;
}

.socialLogo {
  height: 35px;
  width: 35px;
}

.icon {
  display: inline;
  width: 20px;
  height: 20px;
}

.iconText {
  display: inline;
  margin: 0 0.5rem 0 0;
}

.iconTextWrapper {
  display: flex;
  align-items: center;
}

.footerRowWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navLink {
  /* mess around with numbers for limits */
  font-size: min(max(1rem, 1.5vw), 2rem);
}

.programmingLogo {
  width: min(80px, 10vw);
}

#designAndRepoWrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#socialLogosWrapper {
  margin: 1rem 0 1rem 0;
  display: flex;
  width: 5.5rem;
  justify-content: space-between;
}

#designWrapper {
  margin-bottom: 0.5rem;
}

#page1 {
  background-color: #50ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 {
  background-image: linear-gradient(#50ffff, #50ffff50);
}

#page3 {
  background-image: linear-gradient(#50ffff50, white);
}

#headerImage {
  height: min(25vw,40%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

#skillsWrapper {
  display: grid;
  grid-template-rows: auto auto;
}

#logoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2vw;
  row-gap: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-items: center;
}

#matlabLogo {
  height: min(80px, 8vw);
  grid-column-start: 1;
  grid-column-end: 3;
}

#skillsHeaderWrapper {
  display: flex;
  justify-content: center;
}

#skillsHeader {
  padding: 0;
  margin-top: 8rem;
}